{% extends 'layouts/app.twig' %}

{% block content %}
    <div class="col-md-8 col-md-offset-2">
        {% include 'layouts/flash.twig' %}
        <h1>{{lang.label.add_label}} {{lang.label.label_dimension_label}}</h1><hr>
        <form action="{{path_for('post.label.dimension')}}" method="post">
            <div class="form-group">
                <label for="name">{{lang.label.name_label}}</label>
                <input type="text" class="form-control" name="name" id="name" required>
            </div>
            <div class="col-md-6">
                <h4>{{lang.label.margins_label}}</h4>
                <div class="form-group">
                    <label>{{lang.label.left_label}}</label>
                    <div class="input-group">
                        <input type="number" value="0" name="left" placeholder="{{lang.label.left_label}}" min="0" class="form-control" aria-describedby="basic-addon1">
                        <span class="input-group-addon" id="basic-addon1">{{lang.label.milimeter_label}}</span>
                    </div>
                </div>
                
                <div class="form-group">
                <label>{{lang.label.right_label}}</label>
                    <div class="input-group">
                        <input type="number" value="0" name="right" placeholder="{{lang.label.right_label}}" min="0" class="form-control" aria-describedby="basic-addon2">
                        <span class="input-group-addon" id="basic-addon2">{{lang.label.milimeter_label}}</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label>{{lang.label.up_label}}</label>
                    <div class="input-group">
                        <input type="number" value="0" name="up" placeholder="{{lang.label.up_label}}" min="0" class="form-control" aria-describedby="basic-addon3">
                        <span class="input-group-addon" id="basic-addon3">{{lang.label.milimeter_label}}</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label>{{lang.label.down_label}}</label>
                    <div class="input-group">
                        <input type="number" value="0" name="down" placeholder="{{lang.label.down_label}}" min="0" class="form-control" aria-describedby="basic-addon4">
                        <span class="input-group-addon" id="basic-addon4">{{lang.label.milimeter_label}}</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h4>{{lang.label.label_dimension_label}}</h4>
                <div class="form-group">
                    <label>{{lang.label.number_of_columns_label}}</label>
                    <div class="input-group">
                        <input type="number" value="0" name="column" placeholder="{{lang.label.number_of_columns_label}}" min="0" class="form-control" aria-describedby="basic-addon5">
                        <span class="input-group-addon" id="basic-addon5">{{lang.label.milimeter_label}}</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label>{{lang.label.space_between_columns_label}}</label>
                    <div class="input-group">
                        <input type="number" value="0" name="space" placeholder="{{lang.label.space_between_columns_label}}" min="0" class="form-control" aria-describedby="basic-addon6">
                        <span class="input-group-addon" id="basic-addon6">{{lang.label.milimeter_label}}</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label>{{lang.label.height_of_label_label}}</label>
                    <div class="input-group">
                        <input type="number" value="0" name="height" placeholder="{{lang.label.height_of_label_label}}" min="0" class="form-control" aria-describedby="basic-addon7">
                        <span class="input-group-addon" id="basic-addon7">{{lang.label.milimeter_label}}</span>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <input type="submit" class="btn btn-primary btn-block btn-lg" value="{{lang.label.submit}}">
                <a href="{{path_for('get.label.dimension')}}" class="btn btn-warning btn-block">{{lang.label.cancel_label}}</a>
            </div>
            {{csrf_field() | raw}}
        </form>
    </div>
{% endblock %}