{% extends 'layouts/app.twig' %}

{% block content %}
	<div class="col-md-12">
		{% include 'layouts/flash.twig' %}
	</div>
    <div class="col-md-6">
		{% set total_amount = 0 %}
		{% for t in orders %}
				{% set total_amount = total_amount + (t.quantity * t.retail_price) %}
		{% endfor %}
        <p><strong>{{lang.label.order_amount}} <span id="order_amount">{{total_amount | number_format(2)}}</span> &euro;</strong></p>
    </div>
	<div class="col-md-6 text-right">
        {% if total_amount <= 0 %}
			<a href="#" class="btn btn-primary" disabled><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{lang.label.send_order_label}}</a>
		{% else %}
			<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#return_warranty_modals"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{lang.label.send_order_label}}</a>
		{% endif %}
    </div>
    <div class="col-lg-6">
    	<div class="table-responsive">
    		<table class="table-condensed table-bordered table-hover" id="{{lang.label.product_table}}" style="cursor: pointer;">
    			<thead>
    				<tr>
    					<th>ID</th>
    					<th>{{lang.label.item_number}}</th>
    					<th>{{lang.label.description}}</th>
    					<th>{{lang.label.your_price}}</th>
    					<th>{{lang.label.retail_price_ex}}</th>
    					<th>{{lang.label.retail_price}}</th>
    				</tr>
    			</thead>
    			<tfoot>
                    <tr>
                        <th>ID</th>
                        <th>{{lang.label.item_number}}</th>
                        <th>{{lang.label.description}}</th>
                        <th>{{lang.label.your_price}}</th>
                        <th>{{lang.label.retail_price_ex}}</th>
                        <th>{{lang.label.retail_price}}</th>
                    </tr>
                </tfoot>
    		</table>
    	</div>
    </div>
    <div class="col-lg-3">
    	<table class="table">
    		<tr>
    			<td>{{lang.label.quantity}}</td>
    			<td>
    				<input type="number" min="0" name="quantity" id="txt_quantity" class="form-control" value="0"> 
    			</td>
    		</tr>
    		<tr>
    			<td>{{lang.label.stock}}</td>
    			<td>
                    <div id="stock_status">
						{% if stock_status == 'Out of stock' %}
							<span class="label label-danger">{{stock_status}}</span>
						{% elseif stock_status == 'Limited' %}
							<span class="label label-warning">{{stock_status}}</span>
						{% else %}
							<span class="label label-success">{{stock_status}}</span>
                    	{% endif %}
					</div>
                </td>
    		</tr>
    		<tr>
    			<td>{{lang.label.item_number}}</td>
    			<td><span id="item_number">{{item_list.item_number}}</span></td>
    		</tr>
    		<tr>
    			<td>{{lang.label.barcode}}</td>
    			<td><span id="barcode">{{item_list.barcode}}</span></td>
    		</tr>
    		<tr>
    			<td>{{lang.label.description}}</td>
    			<td><span id="name">{{item_list.name}}</span></td>
    		</tr>
    		<tr>
    			<td>{{lang.label.brand}}</td>
    			<td><span id="brand">{{item_list.brand}}</span></td>
    		</tr>
    		<tr>
    			<td>{{lang.label.packaging_quantity}}</td>
    			<td><span id="packaging">{{packaging}}</span></td>
    		</tr>
    	</table>
    	<strong>{{lang.label.price_information}}</strong>
    	<table class="table">
    		<tr>
    			<td>{{lang.label.suggested_retail_price}}</td>
    			<td><span id="suggested_retail_price">{{item_list.sales_price | number_format(2, '.', ',')}}</span></td>
    		</tr>
    		<tr>
    			<td>{{lang.label.purchase_price}}</td>
    			<td><span id="current_purchase_price">{{item_list.current_purchase_price | number_format(2, '.', ',')}}</span></td>
    		</tr>
    		<tr>
    			<td><strong style="color: red;">{{lang.label.your_price | upper}}</strong></td>
    			<td><span id="your_price">{{item_list.current_purchase_price | number_format(2, '.', ',')}}</span></td>
    		</tr>
    	</table>
    </div>
    <div class="col-lg-3">
    	<p><strong>{{lang.label.detailed_description}}</strong></p>
    	<p><span id="description">{{item_list.book_info | replace({'"': ''}) | nl2br}}</span></p>
    	<hr>
    	<p><strong>{{lang.label.product_image}}</strong></p>
		
		<div id="product_image">
            {% if image.image == "" %} 
                <img src="{{base_url()}}/public/logo/logo.png" alt="image" class="img-rounded">
            {% else %}
                <img src="{{base_url()}}/public/img/{{image.image}}" alt="product image" width="150" height="150" class="img-rounded">
            {% endif %}
        </div>
    </div>

    <!-- Product image modal -->
    <div class="modal fade" id="product_img_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Product image</h4>
          </div>
          <div class="modal-body">
            <div id="prod_img" class="text-center">
                {% if image.image == "" %} 
                    <img src="{{base_url()}}/public/logo/logo.png" alt="image" class="img-rounded">
                {% else %}
                    <img src="{{base_url()}}/public/img/{{image.image}}" alt="product image"  class="img-rounded" width="560" height="400">
                {% endif %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {{csrf_field() | raw}}



	{# Modal #}
	<div id="return_warranty_modals" class="modal fade" role="dialog">
		<div class="modal-dialog modal-lg">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<a href="#" class="close" data-dismiss="modal">&times;</a>
					<h4 class="modal-title">{{lang.label.approved_label}}</h4>
				</div>
				<div class="modal-body">
					<form action="{{path_for('send.all.dropship.orders')}}" method="post" autocomplete="off">
						<input type="hidden" name="order_amount" value="{{total_amount | number_format(2)}}">
						<p>{{lang.label.dropship_message_label1}}</p>
						<table class="table table-stripe">
							<thead>
								<tr>
									<th>{{lang.label.quantity}}</th>
									<th>{{lang.label.item_number_label}}</th>
									<th>{{lang.label.description_label}}</th>
									<th>{{lang.label.stock}}</th>
								</tr>
							</thead>
							<tbody>
								{% for o in orders %}
								<tr>
									<td>{{o.quantity}}</td>
									<td>{{o.item_number}}</td>
									<td>{{o.description}}</td>
									<td>Sufficient</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						<p>{{lang.label.dropship_message_label2}}</p>
						
						<div class="form-group col-md-6">
							<label for="company">{{lang.label.company_label}}</label>
							<input type="text" id="company" name="dropship_company" class="form-control">
						</div>

						<div class="form-group col-md-6">
							<label for="first_name">{{lang.label.first_name_label}}</label>
							<input type="text" id="first_name" name="dropship_first_name" class="form-control">
						</div>

						<div class="form-group col-md-6">
							<label for="name">{{lang.label.name_label}}</label>
							<input type="text" id="name" name="dropship_name" class="form-control" required>
						</div>

						<div class="form-group col-md-6">
							<label for="address">{{lang.label.customer_address}}</label>
							<input type="text" id="address" name="dropship_address" class="form-control" required>
						</div>

						<div class="form-group col-md-6">
							<label for="number">{{lang.label.number_label}}</label>
							<input type="text" id="number" name="dropship_number" class="form-control" required>
						</div>

						<div class="form-group col-md-6">
							<label for="postal">{{lang.label.billing_postal_code}}</label>
							<input type="text" id="postal" name="dropship_postal_code" class="form-control" required>
						</div>

						<div class="form-group col-md-6">
							<label for="city">{{lang.label.customer_city}}</label>
							<input type="text" id="city" name="dropship_city" class="form-control" required>
						</div>

						<div class="form-group col-md-6">
							<label for="country">{{lang.label.customer_country}}</label>
							<select name="dropship_country" id="country" class="form-control">
								<option value="BE">Belgium</option>
								<option value="NL">Netherland</option>
								<option value="LU">Luxemburg</option>
								<option value="FR">Frankrijk</option>
								<option value="DE">Duitsland</option>
							</select>
						</div>

						<div class="form-group col-md-6">
							<label for="email">{{lang.label.email}}</label>
							<input type="text" id="email" name="dropship_email" class="form-control">
						</div>

						<div class="form-group col-md-6">
							<label for="tel">{{lang.label.customer_tel}}</label>
							<input type="text" id="tel" name="dropship_tel" class="form-control">
						</div>

						<p>{{lang.label.stated_price_label}}</p>

						<p>
							<label><input type="checkbox" class="agreement_checkbox" name="terms_agreement"> {{lang.label.sales_and_delivery_condition_label}}</label><br>
							<label><input type="checkbox" class="agreement_checkbox" name="terms_agreement"> {{lang.label.dropshipment_condition_label2}}</label>
							<br>
							<a href="http://www.verwimp.nl/wp-content/uploads/2014/01/Algemene-voorwaarden.pdf" target="_blank" onclick="window.open('http://www.verwimp.nl/wp-content/uploads/2014/01/Algemene-voorwaarden.pdf', 'newwindow', 'directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=800,height=600'); return false;">{{lang.label.general_terms_and_conditions_label}}</a><br>
							<a href="http://www.verwimp.nl/wp-content/uploads/2017/04/Dropshipment-voorwaarden.pdf" target="_blank" onclick="window.open('http://www.verwimp.nl/wp-content/uploads/2017/04/Dropshipment-voorwaarden.pdf', 'newwindow', 'directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=800,height=600'); return false;">{{lang.label.dropshipment_condition_label1}}</a><br>
							<a href="http://www.verwimp.nl/download/Bestelprogramma/Privacyverklaring-Louis-Verwimp-BV-01-01-2019.pdf" target="_blank" onclick="window.open('http://www.verwimp.nl/download/Bestelprogramma/Privacyverklaring-Louis-Verwimp-BV-01-01-2019.pdf', 'newwindow', 'directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=800,height=600'); return false;">{{lang.label.privacy_label}}</a>
						</p>
						<p>
							<label for="reference">{{lang.label.reference_number_label}} <small>(optional)</small></label>
							<input type="text" name="reference_number" class="form-control" id="reference">
						</p>
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-primary" id="terms_agreement_ok" value="{{lang.label.ok_label}}" disabled>
					<a href="#" class="btn btn-warning" data-dismiss="modal">{{lang.label.cancel_label}}</a>
				</div>
					{{csrf_field() | raw}}
					</form>
			</div>
		</div>
	</div>
{% endblock %}