{% extends 'layouts/app.twig' %}

{% block content %}
    <div class="container">
        <div class="row col-md-4 col-md-offset-4" style="margin-top: 50px;">
            <p class="text-center">
                <a href="{{base_url()}}"><img src="{{base_url()}}/public/logo/logo.png" width="300" height="100" alt="logo"></a>
            </p>
            <br>
        </div>
        <div class="row col-md-4 col-md-offset-4">
            {% include 'layouts/flash.twig' %}
            <form action="{{path_for('post.signin')}}" method="post" autocomplete="off">
                <div class="form-group">
                    <label for="email">{{lang.label.email}}</label>
                    <input type="email" id="email" name="email" placeholder="{{lang.label.email}}" class="form-control input-lg" autofocus="true">
                </div>
                <div class="form-group">
                    <label for="password">{{lang.label.password}}</label>
                    <input type="password" id="password" placeholder="{{lang.label.password}}" name="password" class="form-control input-lg">  
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-block btn-lg" value="{{lang.label.signin}}">
                </div>
                <div class="form-group text-center">
                    <a href="{{path_for('forgotten.password')}}">{{lang.label.forgotten_password}}?</a>
                </div>
                {{csrf_field() | raw}}
            </form>
        </div>
    </div>
{% endblock %}
