{% extends 'layouts/app.twig' %}

{% block content %}
    <div class="col-lg-6">
    	<div class="table-responsive">
    		<table class="table-condensed table-bordered table-hover" id="{{lang.label.product_table}}" style="cursor: pointer;">
    			<thead>
    				<tr>
    					<th>ID</th>
    					<th>{{lang.label.item_number}}</th>
    					<th>{{lang.label.description}}</th>
    					<th>{{lang.label.your_price}}</th>
    					<th>{{lang.label.retail_price_ex}}</th>
    					<th>{{lang.label.retail_price}}</th>
    				</tr>
    			</thead>
    			<tfoot>
                    <tr>
                        <th>ID</th>
                        <th>{{lang.label.item_number}}</th>
                        <th>{{lang.label.description}}</th>
                        <th>{{lang.label.your_price}}</th>
                        <th>{{lang.label.retail_price_ex}}</th>
                        <th>{{lang.label.retail_price}}</th>
                    </tr>
                </tfoot>
    		</table>
    	</div>
    </div>
    <div class="col-lg-3">
    	<table class="table">
    		<tr>
    			<td>{{lang.label.quantity}}</td>
    			<td>
    				<input type="number" min="0" name="quantity" id="txt_quantity" class="form-control" value="0"> 
    			</td>
    		</tr>
    		<tr>
    			<td>{{lang.label.stock}}</td>
    			<td>
                    <span class="label label-success">Sufficient</span>
                    <div id="favorite_status">
                        {% if favorite == true %}
                            <a href="#" onclick="addToFav('{{item_list.item_number}}')" title="remove from favorite"><span class="fill glyphicon glyphicon-star" aria-hidden="true"></span></a>
                        {% else %}
                            <a href="#" onclick="addToFav('{{item_list.item_number}}')" title="add to favorite"><span class="empty glyphicon glyphicon-star-empty" aria-hidden="true"></span></a>
                        {% endif %}
                    </div>
                </td>
    		</tr>
    		<tr>
    			<td>{{lang.label.item_number}}</td>
    			<td><span id="item_number">{{item_list.item_number}}</span></td>
    		</tr>
    		<tr>
    			<td>{{lang.label.barcode}}</td>
    			<td><span id="barcode">{{item_list.barcode}}</span></td>
    		</tr>
    		<tr>
    			<td>{{lang.label.description}}</td>
    			<td><span id="name">{{item_list.name}}</span></td>
    		</tr>
    		<tr>
    			<td>{{lang.label.brand}}</td>
    			<td><span id="brand">{{item_list.brand}}</span></td>
    		</tr>
    		<tr>
    			<td>{{lang.label.packaging_quantity}}</td>
    			<td><span id="packaging">{{item_list.packaging}}</span></td>
    		</tr>
    	</table>
    	<strong>{{lang.label.price_information}}</strong>
    	<table class="table">
    		<tr>
    			<td>{{lang.label.suggested_retail_price}}</td>
    			<td><span id="suggested_retail_price">{{item_list.sales_price | number_format(2, '.', ',')}}</span></td>
    		</tr>
    		<tr>
    			<td>{{lang.label.purchase_price}}</td>
    			<td><span id="current_purchase_price">{{item_list.current_purchase_price | number_format(2, '.', ',')}}</span></td>
    		</tr>
    		<tr>
    			<td><strong style="color: red;">{{lang.label.your_price | upper}}</strong></td>
    			<td><span id="your_price">{{item_list.current_purchase_price | number_format(2, '.', ',')}}</span></td>
    		</tr>
    	</table>
    </div>
    <div class="col-lg-3">
    	<p><strong>{{lang.label.detailed_description}}</strong></p>
    	<p><span id="description">{{item_list.book_info | replace({'"': ''}) | nl2br}}</span></p>
    	<hr>
    	<p><strong>{{lang.label.product_image}}</strong></p>
		
		<div id="product_image">
            {% if image.image == "" %} 
                <img src="{{base_url()}}/public/logo/logo.png" alt="image" class="img-rounded">
            {% else %}
                <img src="{{base_url()}}/public/img/{{image.image}}" alt="product image" width="150" height="150" class="img-rounded">
            {% endif %}
        </div>
    </div>

    <!-- Product image modal -->
    <div class="modal fade" id="product_img_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Product image</h4>
          </div>
          <div class="modal-body">
            <div id="prod_img" class="text-center">
                {% if image.image == "" %} 
                    <img src="{{base_url()}}/public/logo/logo.png" alt="image" class="img-rounded">
                {% else %}
                    <img src="{{base_url()}}/public/img/{{image.image}}" alt="product image"  class="img-rounded" width="560" height="400">
                {% endif %}
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {{csrf_field() | raw}}
{% endblock %}
