{% extends 'layouts/app.twig' %}

{% block content %}
    <div class="col-md-8 col-md-offset-2">
            {% include 'layouts/flash.twig' %}
            {% set total_amount = 0 %}
            {% for t in orders %}
                  {% set total_amount = total_amount + (t.quantity * t.retail_price) %}
            {% endfor %}
            <h3 class="text-left">Total: {{total_amount | number_format(2)}} &euro;</h3>
            <p class="text-right">
                  {% if total_amount <= 0 %}
                        <a href="#" class="btn btn-primary" disabled><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{lang.label.send_order_label}}</a>
                  {% else %}
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#return_warranty_modals"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> {{lang.label.send_order_label}}</a>
                  {% endif %}
            </p>
       	<table class="table table-bordered" id="{{lang.label.product_table}}">
       		<thead>
       			<tr>
                              <th>{{lang.label.remove}}</th>
       				<th width="5%">{{lang.label.quantity}}</th>
       				<th>{{lang.label.item_number}}</th>
       				<th>{{lang.label.description}}</th>
       				<th>{{lang.label.retail_price}}</th>
                              <th>{{lang.label.sub_total}}</th>
       			</tr>
       		</thead>
       		<tbody>
       			{% for o in orders %}
                        <tr>
                              <td class="text-center">
                                    <a href="{{path_for('remove.from.order', {'item_number':o.item_number})}}" onclick="return confirm('Would you like to remove the product from order?')"><span class='glyphicon glyphicon-trash' aria-hidden='true'></span></a>
                              </td>
                              <td class="text-right">
                                    {# {{o.quantity}} #}
                                    <input type="number" min="0" class="form-control" value="{{o.quantity}}" onblur="updateQty(this.value, '{{o.item_number}}')">
                              </td>
                              <td>{{o.item_number}}</td>
                              <td>{{o.description}}</td>
                              <td class="text-right">{{o.retail_price}} &euro;</td>
                              <td class="text-right">{{o.quantity * o.retail_price}} &euro;</td>
                        </tr>
                        {% endfor %}
       		</tbody>
       	</table>
            {{csrf_field() | raw}}
    </div>

        {# Modal #}
    <div id="return_warranty_modals" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                        <h4 class="modal-title">{{lang.label.approved_label}}</h4>
                </div>
                <div class="modal-body">
                  
                </div>
                <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">{{lang.label.ok_label}}</button> 
                        <a href="#" class="btn btn-warning" data-dismiss="modal">{{lang.label.cancel_label}}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
