{% extends 'layouts/app.twig' %}

{% block content %}
    <div class="col-md-12">
        {% include 'layouts/flash.twig' %}
        <h1>{{lang.label.profit_margin_label}}</h1><hr>
        <div class="col-md-6 pre-scrollable">
            <div id="group_list">
                <ul>
                    <li class="jstree-open">Default - {{margin_profit.margin | number_format(2)}}
                        <ul>
                            {% for key, d in data  %}
                            <li>{{key}} - {{margin_profit.margin | number_format(2)}}
                                <ul>
                                    {% for s in d %}
                                    <li>{{s.sub_group}} - {{margin_profit.margin | number_format(2)}}
                                        <ul>
                                            {% set titles = s.title | split(',') %}
                                            {% for title in titles %}
                                                <li>{{title}} - {{margin_profit.margin | number_format(2)}}</li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <td>
                        <label>
                            <input type="radio" name="profit_option" value="{{lang.label.profit_margin_percent_label}}" checked>
                            {{lang.label.profit_margin_percent_label}}
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="profit_option" value="{{lang.label.profit_factor_label}}">
                            {{lang.label.profit_factor_label}}
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>{{lang.label.group_label}}</td>
                    <td><strong><p id="grouptitle"></p></strong></td>
                </tr>
                <tr>
                    <td>{{lang.label.sub_group_label}}</td>
                    <td><strong><p id="subgrouptitle"></p></strong></td>
                </tr>
                <tr>
                    <td>{{lang.label.title_label}}</td>
                    <td><strong><p id="title_title"></p></strong></td>
                </tr>
                <tr>
                    <td>
                    {{lang.label.profit_margin_label | replace({'margins':'margin'})}} <input type="text" id="profit_margin" name="profit_margin" value={{margin_profit.margin | number_format(2)}}>
                    </td>
                    <td>
                        <a href="#" class="btn btn-primary">{{lang.label.set_label}}</a>
                        <a href="#" onclick="return confirm('The profit margin will be deleted. Are you sure?')" class="btn btn-danger">{{lang.label.delete}}</a>
                    </td>
                </tr>

            </table>
        </div>
    <div>
{% endblock %}