<!-- Fixed navbar -->
<nav class="navbar navbar-default" id="top_nav_bar">
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="text-center">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <strong>{{lang.label.file}}</strong>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{path_for('get.item.list')}}">{{lang.label.item_list}}</a></li>
                    <li><a href="{{path_for('get.offer')}}">{{lang.label.offer}}</a></li>
                    <li><a href="{{path_for('get.you.snooze')}}">{{lang.label.you_snooze_you_loose}}</a></li>
                    <li><a href="{{path_for('get.new.product')}}">{{lang.label.new}}</a></li>
                    <li><a href="{{path_for('get.order.list')}}">{{lang.label.order_list}}</a></li>
                    <li><a href="{{path_for('get.favorites')}}">{{lang.label.favorites}}</a></li>
                    <li><a href="{{path_for('get.item.index')}}">{{lang.label.item_index}}</a></li>
                    {# <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{lang.label.history}}
                        </a>
                    </li> #}
                    <li><a href="{{path_for('get.back.orders')}}">{{lang.label.backorders}}</a></li>
                    <li><a href="{{path_for('get.invoices')}}">{{lang.label.invoices}}</a></li>
                    <li><a href="https://adsoft.verwimp.nl/dropbox/browse" target="_blank" onclick="window.open('https://adsoft.verwimp.nl/dropbox/browse', 'newwindow', 'directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=800,height=600'); return false;">{{lang.label.product_information}}</a></li>
                    <li><a href="https://adsoft.verwimp.nl/en/frontpage?showPrice=true" target="_blank" onclick="window.open('https://adsoft.verwimp.nl/en/frontpage?showPrice=true', 'newwindow', 'directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=800,height=600'); return false;">{{lang.label.front_offer}}</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{path_for('signout')}}">{{lang.label.signout}}</a></li>
                </ul>
            </li>
            <li class="text-center">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <strong>{{lang.label.configuration_label}}</strong>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{path_for('get.round.off')}}">{{lang.label.round_off_label}}</a></li>
                    <li><a href="#">{{lang.label.barcode_printer}}</a></li>
                    <li><a href="{{path_for('get.vat.margin')}}">{{lang.label.vat_margin_label}}</a></li>
                    <li><a href="{{path_for('get.configuration')}}">{{lang.label.configuration_label}}</a></li>
                    <li><a href="{{path_for('get.label.dimension')}}">{{lang.label.label_dimension}}</a></li>
                    <li><a href="{{path_for('get.login.codes')}}">{{lang.label.login_codes_label}}</a></li>
                    <li><a href="{{path_for('get.language.setting')}}">{{lang.label.language}}</a></li>
                    <li><a href="{{path_for('get.shop.information')}}">{{lang.label.shop_information}}</a></li>
                    <li><a href="{{path_for('get.profit.margin')}}">{{lang.label.profit_margin_label}}</a></li>
                    <li><a href="#">{{lang.label.shelf_tag_editor}}</a></li>
                    <li><a href="#">{{lang.label.download_images}}</a></li>
                </ul>
            </li>
            <li class="text-center">
                <a href="{{path_for('get.help')}}">
                    <strong>{{lang.label.help}}</strong>
                </a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <h4 class="text-right">{{lang.label.office_tel}}: {{lang.label.office_number}}</h3>
            </li>
        </ul>
    </div><!--/.nav-collapse -->
</nav>


<!-- Fixed navbar -->
<nav class="navbar navbar-default" >
    {# <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{base_url()}}">
            <img src="{{base_url()}}/public/logo/logo.png" alt="Logo" width="100" height="30">
        </a>
    </div> #}
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="text-center {{(title == lang.label.item_list)?'active':'' }}">
                <a href="{{path_for('get.item.list')}}">
                    <img src="{{base_url()}}/public/logo/item_list.bmp" alt="Item list"> <br> 
                    <strong>{{lang.label.item_list}}</strong>
                </a>
            </li>
            <li class="text-center {{(title == lang.label.offer)?'active':''}}">
                <a href="{{path_for('get.offer')}}">
                    <img src="{{base_url()}}/public/logo/offer.bmp" alt="Offer"> <br>
                    <strong>{{lang.label.offer}}</strong>
                </a>
            </li>
            <li class="text-center {{(title == lang.label.you_snooze_you_loose)?'active':''}}">
                <a href="{{path_for('get.you.snooze')}}">
                <img src="{{base_url()}}/public/logo/you_snooze.bmp" alt="You snooze"> <br>
                <strong>{{lang.label.you_snooze_you_loose}}</strong>
                </a>
            </li>
            <li class="text-center {{(title == lang.label.new)?'active':''}}">
                <a href="{{path_for('get.new.product')}}">
                    <img src="{{base_url()}}/public/logo/new.bmp" alt="New Products"> <br>
                    <strong>{{lang.label.new}}</strong>
                </a>
            </li>
            <li class="text-center {{(title == lang.label.order_list)?'active':''}}">
                <a href="{{path_for('get.order.list')}}">
                    <img src="{{base_url()}}/public/logo/order_list.bmp" alt="Order list"> <br>
                    <strong>{{lang.label.order_list}}</strong>
                </a>
            </li>
            <li class="text-center {{(title == lang.label.favorites)?'active':''}}">
                <a href="{{path_for('get.favorites')}}">
                    <img src="{{base_url()}}/public/logo/favorite.bmp" alt="Favorites"> <br>
                    <strong>{{lang.label.favorites}}</strong>
                </a>
            </li>
            <li class="text-center {{(title == lang.label.item_index)?'active':''}}">
                <a href="{{path_for('get.item.index')}}">
                    <img src="{{base_url()}}/public/logo/index.bmp" alt="Item index"> <br>
                    <strong>{{lang.label.item_index}}</strong>
                </a>
            </li>
            <li class="text-center {{(title == lang.label.history)?'active':''}}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="{{base_url()}}/public/logo/history.bmp" alt="History"> <br>
                    <strong>{{lang.label.history}}</strong>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{path_for('get.orders.history')}}">{{lang.label.orders}}</a></li>
                    <li><a href="{{path_for('get.return.warranty.history')}}">{{lang.label.return_warranty_bikes}}</a></li>
                    <li><a href="{{path_for('get.return.warranty.other.history')}}">{{lang.label.return_warranty_other}}</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{path_for('get.orders.history')}}">{{lang.label.dropshipment}}</a></li>
                </ul>
            </li>
            <li class="text-center {{(title == lang.label.backorders)?'active':''}}">
                <a href="{{path_for('get.back.orders')}}">
                    <img src="{{base_url()}}/public/logo/backorders.bmp" alt="Backorders"> <br>
                    <strong>{{lang.label.backorders}}</strong>
                </a>
            </li>
            <li class="text-center {{(title == lang.label.invoices)?'active':''}}">
                <a href="{{path_for('get.invoices')}}">
                    <img src="{{base_url()}}/public/logo/invoice.bmp" alt="Invoices"> <br>
                    <strong>{{lang.label.invoices}}</strong>
                </a>
            </li>
            <li class="text-center {{(title == lang.label.return_warranty)?'active':''}}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="{{base_url()}}/public/logo/return_warranty.bmp" alt="Return warranty"> <br>
                    <strong>{{lang.label.return_warranty}}</strong>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{path_for('get.return.warranty')}}">{{lang.label.return_warranty_bikes}}</a></li>
                    <li><a href="{{path_for('get.return.warranty.other')}}">{{lang.label.return_warranty_other}}</a></li>
                </ul>
            </li>
            <li class="text-center {{(title == lang.label.product_information)?'active':''}}">
                <a href="https://adsoft.verwimp.nl/dropbox/browse" target="_blank" onclick="window.open('https://adsoft.verwimp.nl/dropbox/browse', 'newwindow', 'directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=800,height=600'); return false;">
                    <img src="{{base_url()}}/public/logo/offertes.bmp" alt="Product information"> <br>
                    <strong>{{lang.label.product_information}}</strong>
                </a>
            </li>
            <li class="text-center {{(title == lang.label.questions)?'active':''}}">
                <a href="{{path_for('get.ask.question')}}">
                    <img src="{{base_url()}}/public/logo/questions.bmp" alt="Questions"> <br>
                    <strong>{{lang.label.questions}}</strong>
                </a>
            </li>
            <li class="text-center {{(title == lang.label.information)?'active':''}}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <img src="{{base_url()}}/public/logo/information.bmp" alt="Information"> <br>
                    <strong>{{lang.label.information}}</strong>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="https://adsoft.verwimp.nl/en/news" target="_blank" onclick="window.open('https://adsoft.verwimp.nl/en/news', 'newwindow', 'directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width=800,height=600'); return false;">{{lang.label.newsletter}}</a></li>
                    <li><a href="{{path_for('get.customer.information')}}">{{lang.label.customer_info}}</a></li>
                    <li><a href="{{path_for('get.general.information')}}">{{lang.label.general_info}}</a></li>
                    <li><a href="{{path_for('get.team.verwimp')}}">{{lang.label.team_verwimp}}</a></li>
                    <li><a href="http://www.adsoft-verwimp.be/Help/helpukb.pdf" target="_blank">{{lang.label.manual}}</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{path_for('get.request.digital.billing')}}">{{lang.label.request_digital_billing}}</a></li>
                </ul>
            </li>
            <li class="text-center {{(title == lang.label.dropship)?'active':''}}">
                <a href="{{path_for('get.dropship')}}">
                    <img src="{{base_url()}}/public/logo/dropship.bmp" alt="Dropshipment"> <br>
                    <strong>{{lang.label.dropship}}</strong>
                </a>
            </li>
            {# <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">{{lang.label.history}}</a></li>
                    <li><a href="#">{{lang.label.return_warranty}}</a></li>
                    <li><a href="https://adsoft.verwimp.nl/dropbox/browse" target="_blank">{{lang.label.product_information}}</a></li>
                    <li><a href="{{path_for('get.ask.question')}}">{{lang.label.questions}}</a></li>
                    <li><a href="#">{{lang.label.information}}</a></li>
                    <li class="{{(title == lang.label.dropship)?'active':''}}"><a href="{{path_for('get.dropship')}}">{{lang.label.dropship}}</a></li>
                </ul>
            </li> #}
        </ul>
        {# <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, {{name}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> {{lang.label.settings}}</a>
                    </li>
                    <li>
                        <a href="{{path_for('signout')}}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> {{lang.label.signout}}</a>
                    </li>
                </ul>
            </li>
        </ul> #}
    </div><!--/.nav-collapse -->
</nav>